.modal-header{
	border:none;
}

.modal-body{
	padding-top:9px;
	padding-bottom:60px;
	font-size:16px;
	margin:0 auto;
	max-width: 748px;
	h4{
		font-size:25px;
		margin-bottom:44px;
	}
	p{
		color:$grey-color;
		font-size:15px;
	}
	&.modal2{
		h4{
			margin:0 0 20px;
		}
		label{
			font-weight:bold;
			color:#000;
			display: inline-block;
			vertical-align: top;
			margin:0 0 11px;
			font-size:15px;
		}
		.modal-footer{
			border-top: 2px solid #eeeee6;
			padding:22px 0 20px;
		}
		.btn{
			min-width:180px;
		}
		.checkbox{
			.jcf-checkbox{
				display: inline-block;
				vertical-align: middle;
			}
			label{
				margin:0;
				max-width: 90%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.form-group .form-row{
		margin:0;
		label{
			margin:0;
			font-weight:normal;
			color:#999;
		}
	}
	h3{
		font-size:16px;
		margin:0 0 20px;
		text-transform:uppercase;
	}
	.checkbox{
		margin-bottom:15px;
	}
}

#sidebar .side-box .modal-body p{
	font-size: 15px;
	line-height: 18px;
	margin: 0 0 23px;
}

.modal-header{
	overflow:hidden;
}

.close{
	background:$blue-color !important;
	width: 40px;
	height: 40px;
	opacity: 1;
	color:$base-white-color;
	font-size:34px;
	text-shadow:none;
	border-radius:4px;
	span{
		margin:-1px -1px 0 0;
		display: inline-block;
		vertical-align: top;
	}
}

.checkbox{
	label{
		margin:7px 0 0;
		padding:0;
		color:#000;
	}
}

.modal-form{
	margin:0 auto;
	max-width: 478px;
	color:$grey-color;
	h4{
		margin: 0 0 22px;
	}
	.title{
		color:$base-black-color;
		font-size:14px;
		display: inline-block;
		vertical-align: top;
		margin:0 0 13px;
	}
	.form-row{
		overflow:hidden;
		li{
			float:left;
			margin:0 25px 5px 0;
			line-height:20px;
		}
	}
	label{
		font-size:14px;
		font-weight:bold;
	}
	.form-group {
		margin-bottom: 21px;
	}
	.text-center a{
		font-size:13px;
	}
	.input-placeholder-text{
		top: 11px;
		font-size:14px;
		color:$grey-color !important;
	}
}

.country-list{
	text-align:center;
	margin:-12px 0 20px;
	li{
		display: inline-block;
		vertical-align: top;
		margin:0 10px;
		text-align:left;
		img{
			display:block;
			margin:0 0 10px;
		}
		label{
			display: inline-block;
			vertical-align: top;
			font-size:16px;
			margin:2px 0 0 5px;
		}
	}
}

.modal-size2 .modal-dialog{
	width: 720px;
}

#header .modal-dialog{
	a{
		color:$blue-color;
		&:hover{
			color:$blue-daker-color;
		}
	}
}







@media only screen and (max-width:$screen-md) {
	.modal-dialog{
		width: 768px;
	}
}

@media only screen and (max-width:$mobile) {
	.modal-dialog{
		width: 100%;
		margin-right:0px;
		margin-left:0px;
	}
	.modal-header{
		padding:5px;
		.close{
			margin:0;
		}
	}
	.modal-body{
		padding:10px 10px 20px;
		padding-top:0;
	}
	.modal-body{
		h4{
			margin-bottom:20px;
			font-size:20px;
		}
	}
	.modal-form .form-group {
		margin-bottom: 12px;
		.pull-left,
		.pull-right{
			float:none !important;
			display: inline-block;
			vertical-align: top;
			margin:0 0 5px;
		}
	}
	.modal-size2 .modal-dialog {
		width: 100%;
	}
	.modal-dialog{
		padding:0 5px;
	}
}












